header {
    display: flex;
    align-items: center;
    column-gap: 20px; 
    max-width: 1440px;
    padding: 24px; 
  }
  
  .logo-container img {
    width: 300px; 
    height: auto;
  }
  
  .divider {
    width: 2px;
    height: 100px; 
    background-color: #ccc; 
  }
  
  .titulo {
    font-size: 2em; 
    margin: 0; 
  }
